# Random Files in Main Directory
forge.config.js
todo.db
test_todo.db
test_todo_get_all.db
/src/tests/test_databases
.coverage

# Development  Folders
/.venv
/.vscode
/src/python/.vscode
/node_modules
/python-embedded
/releases
/dist
/htmlcov
coverage.xml

# Python Cachee Folders
/src/python/__pycache__
/src/python/.pytest_cache
/src/python/tests/__pycache__

# Additional Patterns
.env*
.idea/
*.pyc
*.pyo
*.pyd
*.log
*.key
*.pem