python/__pycache__
python/.pytest_cache
python/tests/__pycache__
/.vscode
/node_modules
todo.db
test_todo.db
__pycache__
.pytest_cache
.venv
/python/.vscode
out/
forge.config.js
build/
dist/
server.spec
python-3.12.7-amd64.exe
todo_bridge.spec
innosetup.iss
package-lock.json
/Productivity-App-win32-x64